@model List<DataLoginModel>


@{

    ViewData["Title"] = "Home Page";
}

@if (Model != null && Model.Any())
{
    foreach (var values in Model) {
        <div class="text-center">
            <h1 class="display-4">Welcome @values.UserName</h1>
            <p>Contact control system</p>
        </div>
    }
}
