@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Restrict Page";
}



<div class="text-center">
    <h1 class="display-4">This page is restrict only ADMINS, <a asp-controller="Home" asp-action="Index">Click here to back</a> </h1>
</div>

