@{
    ViewData["Title"] = "Confirm delete";
}


<div class="text-center">
    <h3>Do you really want to delete the contact number?</h3>
    <br />
<button type="button" class="btn btn-success"  asp-controller="Contact" asp-action="Delete">Confirm</button>
<button type="button" class="btn btn-danger" asp-controller="Contact" asp-action="Index">Cancel</button>
</div>

