@model DataLoginModel

@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Login";
}
    
     @if (TempData["MessageFailed"] != null) {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
            @TempData["MessageFailed"]
        </div>
    }

<form asp-controller="Login" asp-action="EnterLogin" method="post">
  <div class="mb-3">
    <label for="username" class="form-label">UserName</label>
    <input type="text"  asp-for="UserName" class="form-control" id="username">
       @Html.ValidationMessageFor(x => x.UserName)
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password"  asp-for="Password" class="form-control" id="password">
       @Html.ValidationMessageFor(x => x.Password)
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>